<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
  <!--===============Head===============-->

    <meta name="description" content="">
    <meta name="author" content="">
<!--<link rel="icon" href="../../favicon.ico"> -->

    <title>Udacity Office Hours App</title>
    
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet">

  </head>

  <!--===============Body===============-->
  <body>
    <div class="container-fluid">

      <!--Nav Bar 
     Office Hours Link: https://docs.google.com/document/d/1VvDCEe4kfzsQ7FWLi6SvlyPPb98XuCJkJxlAhTWlad4/pub?embedded=true--> 
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://docs.google.com/document/d/1VvDCEe4kfzsQ7FWLi6SvlyPPb98XuCJkJxlAhTWlad4/pub?embedded=true">UDACITY OFFICE HOURS APP</a>
          </div>
        </div>
      </nav>
    </div>


    <!-- Question Panel and Past/Submit Panel-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <!--Question Panel-->
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left">Question List</h3>
              <div class="pull-right">
                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#submitQModal">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Clear All
                </button>
              </div>
            </div>
            <div class="panel-body">
              <!--Question Panel Content-->
              <ul class="list-group">
              <!--template data start-->

              <!--template data end-->
              </ul>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-md-4">
          <!--Past and Submit Panel-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Past Questions</h3>
            </div>
            <div class="panel-body">
              <!--Past Question Panel Content-->
              <ul class="list-group">
              <!--template data start-->
              
              <!--template data end-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/row-->




<!--       <footer>
        <p>Udacity Office Hours</p>
      </footer> -->

    </div><!--/.container-fluid-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!-- <script src="../bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script> -->

  </body>
</html>

